<div class="form-container">
    <h1 class="form-description-title">Finishing up</h1>
    <p class="form-description">Double-check everything looks OK before confirming.</p>
  
  <div class="finishing-card">
  
    <div class="service">
      <p class="storage-title">Arcade(Monthly)</p>
      <p class="price-finish">$9/mo</p>
    </div>
  <hr>
  
  <div class="service">
    <p class="storage-title">Online service</p>
    <p class="price-finish">$1/mo</p>
  </div>
  <div class="service">
    <p class="storage-title">Larger storage</p>
    <p class="price-finish">$2/mo</p>
  </div>
  
  </div>
  
  <div class="footer-content">
    <p class="total">Total (per month)</p>
    <p class="price">$12/mo</p>
  </div>
  <footer>
    <button class="back-button" (click)="goBack()">Go Back</button>
    <button class="next-button" (click)="toConfirm()" type="submit">Confirm</button>
  </footer>
  </div>