.container {
    width: 940px;
    height: 590px;
    gap: 0; 
    border-radius: 15px;
    opacity: 1;
    background-color: var(--white);
    padding: 20px;
    background-image: url('../assets/images/bg-sidebar-desktop.svg') ;
    background-repeat: no-repeat;
    background-position: 20px 30px;
    position: relative;
}

.step-container {
    color: var(--white);
    padding: 20px;
    width: 170px;
    height: 228px;
    position: absolute;
    top: 30px;
    left: 30px;
  }
  
  .step {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  .step:last-child {
    margin-bottom: 0;
  }
  
  .step-circle {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: transparent;
    margin-right: 15px;
    border: 2px solid white;

  }
  
  .active {
    background-color: #99c0ff; 
    border: none;
  }
  
  .step-details {
    display: flex;
    flex-direction: column;
    
  }
  
  .step-number {
    font-size: 14px;
    font-weight: bold;
    color: var(--grey);
    margin: 0;
    text-transform: uppercase;
  }
  
  .step-title {
    font-size: 17px;
    font-weight: bold;
    margin: 0;
  }
  

 



@media (max-width: 480px) {

    .container {
        width: 100%;
        height: 376px;
        background-image: url('../assets/images/bg-sidebar-mobile.svg') ;
        background-position: 0px 0px;
        background-size: 100% auto;
        border-radius: 0;
        display: block;   
    }

    .step-container {
        display: flex;
    }

    .step-details{
        display: none;
    }
    
  }
